@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Explora&family=Fascinate&family=Merriweather:wght@300&family=Mochiy+Pop+One&family=Sofia+Sans+Extra+Condensed:wght@100;500&family=Updock&display=swap');
 
nav{
    background-color: #CB4458;

}
.social-icons{
    max-width: 135px;
}
.social-icons a{
    color: black;
}
.s-icon{
    height:30px ;
    width: 30px;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.maill a, .call a{
    color: rgb(250, 250, 250);
    text-decoration: none;
    /* background-color: white; */
    padding: 5px;
}
@media only screen and (max-width: 650px) {
    #call{
        display: none;
    }

  }

.brand-logo{
    padding: 2%;
}
.brand-logo .logo-name{
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Explora', cursive;
    font-family: 'Fascinate', cursive;
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Mochiy Pop One', sans-serif; */
    /* font-family: 'Sofia Sans Extra Condensed', sans-serif; */
    /* font-family: 'Updock', cursive; */
    letter-spacing: 3px;
    opacity: 0.8;
}

  .nav-button{
    width: 30px;
    height: 30px;
    background-color: rgb(216, 237, 255) !important;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: none;
  }
  .nav-item-sm{
    position: fixed;
    background-color: white;
    height: 100vh;
    top: 0;
    /* right:0; */
    /* left: 0; */
   max-width: 350px;
    z-index: 999999;
        margin-left: -400px;
    transition: 0.5s;
  }
.nav-item-smx{
    
        margin-left: 0px;

  }
  .nav-l-sm{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    padding: 5px 20px;
  }
  .nav-l-sm div{
    padding: 10px;
    background-color: #CB4458;
    width: 200px !important;
  }
  .nav-bg{
    background-color:  #CB4458;
    border-top: 1px solid rgb(155, 155, 155);
  }
.nav-item{
    max-width: 550px;
    padding: 1%;

}
/* .logo-img {
max-width: 50%;
} */
.logo-img img{
    height: 70px;
    width: auto;
    object-fit: cover;
}
@media only screen and (max-width: 650px) {
    .nav-item {
      display: none;
    }
    .nav-button{
        width: 30px;
    height: 30px;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
        display: block;
    }

  }
.nav-item ul li{
    list-style: none;
}
.nav-item ul{
    display: flex;
    justify-content: space-between;
}
.nav-l{
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: -30px;
}
.nav-l:hover{
    color: rgb(201, 201, 201);
    border-bottom: 2px solid rgb(58, 58, 58);


}
.demo-painting-i{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.demo-painting{
    height: 250px;
    overflow: hidden;
    transition: all 0.5s;
}
.demo-painting:hover{
    height: 310px;
    overflow: hidden;
}
@media only screen and (max-width: 650px) {
    .demo-painting-i{
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
    .demo-painting{
        height: 100px;
        overflow: hidden;
        transition: all 0.5s;
    }
    .demo-painting:hover{
        height: 200px;
        overflow: hidden;
    }

  }
/* #demo{ */
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
/* } */
.demo-title{
    font-size: 12px;
}

.paint-img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
@media only screen and (max-width: 650px) {
    .paint-img{
        width: 100%;
        height: 150px;
        object-fit: contain;
    }

  }

footer{
    background-color: #CB4458;
    color: rgb(255, 255, 255);
    padding: 2%;
    margin-top: 6%;
}

.conditions a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.conditions{
    text-align: end;
}

@media only screen and (max-width: 650px) {
    .conditions{
        text-align: center;
    }
    #cond{
        text-align: center;
    }

  }
